@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Oswald&display=swap");

* {
  font-family: "Dosis" !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Graphnik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbo {
  height: 100vh;
  display: flex;
  background: url(./images/homeScreenBackground.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0em !important;
}

.homeScreenWords {
  background-color: rgba(27, 27, 27, 0.85);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeScreenWords h1 {
  font-size: 60px !important;
  color: white;
}

.homeScreenWords p {
  color: white;
}

.cardDeck {
  margin: 0px !important;
}

.aboutSection {
  padding: 50px;
  text-align: center;
}

.nav {
  width: 100vw;
  background: aliceblue;
}

.charts {
  display: flex;
  justify-content: center;
}

.realTimeCharts h1 {
  text-align: center;
  padding: 50px;
  margin-top: 50px;
}

img {
  width: 36;
  height: 36;
}

.styles_navSocial__3JBh_ {
  width: 0% !important;
}
